@media screen and (max-width: 480px) {

footer{
    height: 100vh;
}
    /* .footer{
       
        flex-direction: column;
    }
   

    footer .logo,.info,.copyright{
        margin-top: 10px;
    }
    footer .logo{
        margin-top: 50px;
        margin-left: 50px;
    }

    .resource a:hover{
        color: #13547a;
    }

    .copyright{
        color: aliceblue;
        margin: 40px;   
    } */
}